{% extends "master.html" %}

{% load timeformat %}
{% load clinqformats %}

{% block head %}

{% endblock %}

{% block content %}

<div class="row">
	{% for art in artists %}
		<div class="four columns Tile ttip"><a href="/?artist={{ art.artist|HexEncode }}" data-tooltip="{{ art.artist }}" >
		<div><span>{{ art.artist }}</span><br />{{ art.totalLength|dispalayTime }} hours


		<div class="Image">

		</div>

		</div></a></div>

		{% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}

	{% endfor %}
</div>



{% endblock %}